.home-header{
    margin-top: 40px;
    margin-left:40px;
    text-align: left;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: transparent;
}
.sub-header{
    margin-left:45px;
    text-align: left;

}