.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
  background:#21252C;

}

.header,
.footer {
  background:#21252C;
  height:50px;
  color:#ffffff;
}


.icon{
  text-align:start;
  padding:10px;
}

.icon:hover{
  cursor:pointer; 
}

.header-title{
  margin:auto;
  color:#ffffff;
}

.container{
  display: flex;
  flex: 1;
}

.drawer {
  background:#21252C;
  width:0px;
  transition: width 0.7s;
  color:#fff;
}

.opened{
  width:240px;
  transition: width 0.7s;

}

.main {
  flex: 1;
  background:#21252C;
  width:100%;
}

img {
	margin: 0 auto;
	height: 500px;
	max-width: max-content;
}

/* li{
  list-style:decimal;
} */

li::marker {
	margin: 0;
}

#game-title {
	font-weight: bold;
}

.game-text {
	color: #fff;
}
